$g1: rgb(98, 0, 234);
$g2: rgb(236, 64, 122);
$g3: rgb(253, 216, 53);

.sliderContainer{
    position: absolute;
    top: calc(100vh - 200PX);
    z-index: -4;

    .slider{
        position: relative;
        white-space: nowrap;
        display: flex;

        p{
            margin: 0px;
            color: #fff;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: #5659f0;
            font-size: 60px;
            opacity: 0.49;

            &:nth-of-type(2){
                position: absolute;
                left: 100%;
            }
        }
    }
}

