.container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // z-index: -1;
    
  }
  
.introTextContainer{
  width: 100%;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;



  .innerTextContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;

    p{

      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 5.9rem;
      line-height: 95px;

      
    }
  }  
}  


.particlesBG {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  user-select: none;

  > * {
    width: 100% !important;
    height: 100% !important;
  }
}




@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


@media (max-width: 768px) {
  .myIntro{
    font-size: 3rem;
    text-align: center;
  }



  .imageOfMyself{
    display: none;
    visibility: hidden;
    
    // animation: slide 5s infinite alternate;
  }


  .bioText{  
    p{
      width: 300px;
      font-family: "Manrope", sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 70px;
      color: rgb(155, 154, 154);
    }
  }
  
}

@media (max-width: 440px) {
  .myIntro{
    font-size: 3.1rem;
    text-align: center;
  }

  .bioText{  
    p{
      width: 300px;
      font-family: "Manrope", sans-serif;
      font-weight: 300;
      font-size: 0.8rem;
      text-align: center;
      margin-bottom: 90px;
      color: rgb(187, 186, 186);
    }
  }

  .heroBackground{
    opacity: 0.4;
  }
}
