@property --blink-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 2;
  }
  
  @keyframes blink-animation {
    0%,
    100% {
      opacity: var(--blink-opacity, 1);
    }
    50% {
      opacity: 0;
    }
  }

 
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

  .container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: black;
    overflow: hidden;
  }
  
  @keyframes smoothBg {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
  
  .wrapper {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .hero {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    --stripes: repeating-linear-gradient(
      100deg,
      var(--stripe-color) 0%,
      var(--stripe-color) 7%,
      transparent 10%,
      transparent 12%,
      var(--stripe-color) 16%
    );
    --rainbow: repeating-linear-gradient(
      100deg,
      #60a5fa 10%,
      #e879f9 15%,
      #60a5fa 20%,
      #5eead4 25%,
      #60a5fa 30%
    );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;
    filter: blur(10px) invert(100%);
    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
  }
  
  .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: smoothBg 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
  
  .heroDark {
    --stripe-color: #000;
  }
  
  .heroDark,
  .heroDark::after {
    filter: blur(10px) opacity(50%) saturate(200%);
  }

  .middleContainer{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    // spacing 
    margin-top: 140px;
    padding-left: 40px;

    .intro{

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      .title{
        font-size: 2.5rem;
        width: 70%;

        > span {
          // basic styling 
          font-family: "Playfair Display", "Poppins", sans-serif;
          font-weight: 700;
          font-size: 2.7rem;
          font-style: italic;

          // text animation 
          background: linear-gradient(
            to right,
            #fff 10%,
            #e879f9 15%,
            #60a5fa 20%,
            #5eead4 25%,

        );
          
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
          background-size: 400% auto;
          // animation: textShine 4s linear infinite alternate;
        }

      }

      .subTitle{
        width: 85%;
        font-size: 1.3rem;
      }

      .scrollDownText{
        text-align: center;
        margin-top: 20px;
      }

      
    }


  }
  
  // .content {
  //   position: absolute;
  //   inset: 0;
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  //   gap: 2.5%;
  //   text-align: center;
  //   mix-blend-mode: difference;
  //   -webkit-mix-blend-mode: difference;
  //   filter: invert(1);


  //   .title {
  //       font-size: calc(2.5rem - -3vw);
  //       position: relative;
  //       width: 80%;
    
  //       > h1 {
  //           font-weight: 500;
  //           width: 100%;
  //           margin: 0; 
  //           padding: 0;
  //           word-wrap: break-word;
  //           overflow-wrap: break-word;
  //       }
        
  //   }

  //   .caption {
  //       width: 80%;

  //       > h2 {
  //           font-weight: 300;
  //           font-size: calc(0.4rem - -1.6vw);
  //           word-wrap: break-word;
  //           overflow-wrap: break-word;
  //       }
  //   }
  // }
  

  
  
  
  // .icon {
  //   width: 1lh;
  //   height: 1lh;
  //   aspect-ratio: 1/1;
  //   padding: 0.25em 0.35rem;
  //   border-radius: calc(1px / 0);
  //   border: 1px dashed;
  //   --blink-opacity: 1;
  //   animation: blink-animation 2s ease-in-out infinite running;
  // }
  
  // .title::before {
  //   content: attr(data-text);
  //   position: absolute;
  //   inset: 0;
  //   background: white;
  //   text-shadow: 0 0 1px #ffffff;
  //   background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   background-color: white;
  //   -webkit-mask: linear-gradient(#000 0 0) luminance;
  //   mask: linear-gradient(#000 0 0) luminance, alpha;
  //   backdrop-filter: blur(19px) brightness(12.5);
  //   -webkit-text-stroke: 1px white;
  //   display: flex;
  //   margin: auto;
  //   z-index: 1;
  //   pointer-events: none;
  // }