.container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // z-index: -1;
    
  }


  .particlesBG {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    user-select: none;
  
    > * {
      width: 100% !important;
      height: 100% !important;
    }
  }  

.heroBackground{
  background-image: radial-gradient(circle at 50% 0, #050d3d, #000 80%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  z-index: -2;
  opacity: 0.2;

}

.innerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.myIntro{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

.bioText{
  position: absolute;
  bottom: 15%;

  p{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 40px;
  }
}


.gradientText{
  font-family:  "Poppins" ,sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 600px;
  border-radius: 12px;
  background: linear-gradient(-80deg,  #a267e9, #5659f0, #9a53d9);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease-in infinite;
  

} 


.innerContainer{
  overflow: hidden;
}

.video {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  z-index: -12;
}


// #0100EC, #FB36F4


.inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
 
  .text{
    display: flex;
    align-items: center;
    text-align: center;
  }
  
}

.imageOfMyself{
  width: 295px;
  height: 95px;
  margin-left: 20px;
  border-radius: 110px;
  background-image: url("/imgs/me3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -190px;
}




@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


@media (max-width: 768px) {
  .myIntro{
    font-size: 3rem;
    text-align: center;
  }



  .imageOfMyself{
    display: none;
    visibility: hidden;
    
    // animation: slide 5s infinite alternate;
  }


  .bioText{  
    p{
      width: 300px;
      font-family: "Manrope", sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 70px;
      color: rgb(155, 154, 154);
    }
  }
  
}

@media (max-width: 440px) {
  .myIntro{
    font-size: 3.1rem;
    text-align: center;
  }

  .bioText{  
    p{
      width: 300px;
      font-family: "Manrope", sans-serif;
      font-weight: 300;
      font-size: 0.8rem;
      text-align: center;
      margin-bottom: 90px;
      color: rgb(187, 186, 186);
    }
  }

  .heroBackground{
    opacity: 0.4;
  }
}
