.container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    will-change: transform;

    // z-index: -1;
    
  }
  
.introTextContainer{
  width: 100%;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;



  .innerTextContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-bottom: 60px;

    p{
      font-family: "OffBitTrial-DotBold", sans-serif;
      font-weight: 600;
      font-size: 7.1rem;
      letter-spacing: 5px;
      line-height: 105px;
    }
  }  
}  

.locationAndTime{
  position: absolute;
  top: 7%;
  right: 2%;

  p{
    font-family: "Poppins";
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 0.8rem;
  }
}

.particlesBG {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  user-select: none;

  > * {
    width: 100% !important;
    height: 100% !important;
  }
}

.svgIcon{
  position: absolute;
  height: 600px;
  object-fit: fill;
  z-index: -2;
  width: 600px;
}

.svgIcon1{
  bottom: -4%;
  right: -10%;
}

.svgIcon4{
  left: 32%;
  bottom: -36%;
  

 
}

.svgIcon2{
  top: 15%;
  left: -2%;
  //  transition: filter 0.000001s ease; /* Add transition for filter property */


}

.svgIcon3{
  top: 7%;
  right: -7%;

}

.svgIcon5{
  bottom: -16%;
  left: 3%;

}

.svgIcon6{
  bottom: 1%;
  right: 10%;
}

.svgIcon7{
  bottom: -25%;
  left: 13%;
}



.svgIcon9{
  top: -5%;
  left: 10%;
  filter: blur(5px);

}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


@media (max-width: 768px) {
  .myIntro{
    font-size: 3rem;
    text-align: center;
  }



  .imageOfMyself{
    display: none;
    visibility: hidden;
    
    // animation: slide 5s infinite alternate;
  }


  .bioText{  
    p{
      width: 300px;
      font-family: "Manrope", sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 70px;
      color: rgb(155, 154, 154);
    }
  }
  
}

@media (max-width: 440px) {
  .myIntro{
    font-size: 3.1rem;
    text-align: center;
  }

  .bioText{  
    p{
      width: 300px;
      font-family: "Manrope", sans-serif;
      font-weight: 300;
      font-size: 0.8rem;
      text-align: center;
      margin-bottom: 90px;
      color: rgb(187, 186, 186);
    }
  }

  .heroBackground{
    opacity: 0.4;
  }
}
