.container{
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 220px;
    overflow: hidden;

    
}


.lineMask{
    overflow: hidden;

  }


    
.lineMask p{
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 4.4rem;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    padding: 0 40px;
  
  }

 .skillCard{
    z-index: 3;
    position: relative;
    margin: 0px;
    width: 640px;
    height: 230px;
   //  background-color: rgba(0, 0, 0, 0.241);
   //  overflow: hidden;
   //  border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
 } 

 .cardHeading{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0FC06B;
    font-family: "Poppins", sans-serif;
   //  border-bottom: 1px solid rgba(255, 255, 255, 0.2);



   //  .dot1{
   //      width: 20px;
   //      height: 20px;
   //      border-radius: 50%;
   //      background-color: #5659f0;
   //   }

   //   .dot2{
   //      width: 20px;
   //      height: 20px;
   //      border-radius: 50%;
   //      background-color: rgb(64, 174, 141);
   //   }

   //   .dot3{
   //      width: 20px;
   //      height: 20px;
   //      border-radius: 50%;
   //      background-color: rgb(232, 68, 191);
   //   }

 }

 .skillsContainer{
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
//   justify-content: center;
  position: relative;
  height: 100%;
  gap: 50px;


 }



 .langContainer{
    width: 100%;
    // height: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
    gap: 18px;
    // justify-content: center;
    align-items: center;


    .langBox{
        // background-color: #101214 ;
        font-family: "Poppins", sans-serif;
        letter-spacing: 1px;
        color: white;
        display: inline-flex;
        align-items: center;
        font-size: 1rem;
        padding: 10px 19px;
        // width: 100px;
        gap: 10px;
        border: 1px  solid rgba(255, 255, 255, 0.2);
        border-radius: 7px;
        
     }
 }
 
