.container{
    margin: 100px;
    width: 310px;
    height: 110px;
    background-image: none;
    border: 1.5px solid rgba(255, 255, 255, 0.141);
    border-radius: 18px;
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    transition: all .4s;
    
    z-index: 1;
    position: absolute;
    right: -79px;
    bottom: -69px;

    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;



    p{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: rgb(170, 170, 170);
        font-size: 11px;
    }
}




.container::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      -45deg,
      #9d00ff, #0099f8,
    );
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
    border-radius: 18px;
  }


  
  .container:hover::before {
    opacity: 1;
  }

  .artistInfo{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    p{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 12px;
        color: rgb(216, 216, 216);
        letter-spacing: 0.5px;
    }
  }


.bars {
    display: flex;
    justify-content: center;
    // margin-left: 50px;
    align-items: center;
    overflow-x: hidden;
}

.bar {
    background: #1bd760;
    height: 1px;
    width: 2.6px;
    margin: 0px 2px;
    border-radius: 5px;
    animation: sound 12s  infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 1px; 
    }
    100% {
        opacity: 1;       
        height: 20px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 15px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 29px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 43px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 57px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 71px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 85px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 99px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 113px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 127px; animation-duration: 442ms; }