.container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    pointer-events: none;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    justify-content: center;
    align-items: center;
    z-index: -1;
   


    .gridContainer{

        justify-content: space-between;
        width: 1628px;
        height: 100%;
        padding-left: 64px;
        padding-right: 64px;
        display: flex;

        .grid{
            border-right: 1px solid rgba(255, 255, 255, .1);
            height: 100%;
            
        }
    }

}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }


  .particlesBG {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    user-select: none;
  
    > * {
      width: 100% !important;
      height: 100% !important;
    }
  }

  @media (max-width: 440px) {

    .gridContainer{

        gap: 110px;
        display: flex;

        .grid{
            border-right: 1px solid #ffffff1a;
            height: 100%;
            
        }
    }
    
  }
  