.container{
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    // border-radius: 50px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 510px;
    padding: 0 24px;
    gap: 30px;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 121;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);

    p{
        font-family: "Poppins", sans-serif;
        font-size: 0.8rem;
        letter-spacing: 1px;
        font-weight: 300;
        cursor: pointer;
    }
}